body {
    margin: 0;
    box-sizing: border-box;
    background: #1B244A;
    
}

h3{
    /* board-title-home */

    width: 149px;
    height: 36px;

    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;

    /* identical to box height, or 90% */
    text-align: center;

    color: #EEEEEE;
}

.container {
    display: flex;
    justify-content: space-around;
    background: #1B244A;

}
button{
    width: 30px;
    height: 25.77px;
    margin: 15px 2px;


    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #9AABD8;

    /* or 155% */
    text-align: center;

}

.rectange{
    width: 45px;
    height: 45px;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    background: #1B244A;
}
.rectange:hover, #newgame:hover{
    background: #F94F6D;
    color: #080001;
}
.homescorebackground, .guestscorebackground{
    /* background */
    width: 155px;
    height: 120px;
    background: #080001;
    border-radius: 5px;
}

#homescore,#guestscore{
    /* home-points-text */
    display: flex;
    justify-content: space-around;

    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;

    /* or 141% */
    text-align: center;

    color: #F94F6D;
}


#newgame{
    width: 100px;
    height: 70px;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    background: #1B244A;
}